@mixin clearSpace {
    margin: 0;
    padding: 0;
}
@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin medium-screen{
    @media screen and (max-width: 992px){
        @content ;
    }
}
@mixin small-screen {
     @media screen and (max-width: 768px) {
         @content ;
     }
}