/*---------------------------------------
### Colors
-----------------------------------------*/
$primary-color: #7D7D7D ;
$dark-color: #2F2F2F ;
$blue-color: #717CFF ;
$light-blue-color: #5C96FF ;
$green-color: #70CE88 ;
$red-color: #FF5959 ;
$red-light-color: #FA706C ;


/*---------------------------------------
### Fonts
-----------------------------------------*/

$body-font: 'Lato' ,  sans-serif ;
