/*---------------------------------------
### Importing
-----------------------------------------*/
/*---------------------------------------
### Colors
-----------------------------------------*/
/*---------------------------------------
### Fonts
-----------------------------------------*/
/*---------------------------------------
### General
-----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

p,
a {
  font-size: 1.6rem;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-btn {
  color: #fff;
  padding: 10px 25px;
  background: #717CFF;
  border-radius: 15px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.main-btn span {
  padding-left: 15px;
  display: inline-block;
}

.main-btn:hover {
  background: #5C96FF;
  color: #fff;
}

/*---------------------------------------
### Header
-----------------------------------------*/
header {
  height: 86px;
  background-color: transparent;
  transition: all 0.3s linear;
}

header.bg {
  padding: 20px 0;
  background: #fff !important;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

header.bg .logo img {
  max-width: 100px;
}

header .logo {
  padding: 20px 0;
}

header .logo img {
  max-width: 130px;
}

.nav-menu ul {
  display: flex;
}

.nav-menu ul li {
  display: block;
  margin-right: 15px;
  padding: 10px;
}

.nav-menu ul li:last-child {
  margin-right: 0;
}

.nav-menu ul li .nav-link {
  color: #2F2F2F;
  font-size: 1.8rem;
  position: relative;
  transition: 0.2s linear;
  display: inline-block;
  margin: 0;
  padding: 5px 0;
  cursor: pointer;
}

.nav-menu ul li .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0px;
  height: 2px;
  background: #717CFF;
  visibility: hidden;
  transition: 0.3s linear;
}

.nav-menu ul li .nav-link:hover::before {
  width: 25px;
  visibility: visible;
}

.nav-menu ul li .nav-link.outline {
  padding: 5px 15px;
  border: 2px solid #5C96FF;
  border-radius: 30px;
}

.nav-menu ul li .nav-link.outline:hover::before {
  width: 0px;
  visibility: hidden;
}

.nav-menu ul li .nav-link.outline:hover {
  background-color: #5C96FF;
  color: #fff;
}

.toggle-menu {
  font-size: 26px;
  color: #2F2F2F;
  cursor: pointer;
  transition: 0.2s linear;
}

.close {
  font-size: 26px;
  position: absolute;
  z-index: 99;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

/*---------------------------------------
### Hero
-----------------------------------------*/
.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hero .inner-content {
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 150px 0 100px;
}

.hero .inner-content h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: #2F2F2F;
}

.hero .inner-content h1 span {
  color: #717CFF;
}

.hero .inner-content p {
  color: #7D7D7D;
}

.hero-img {
  position: relative;
}

.hero-img .img-shape {
  width: 750px;
  height: 650px;
  position: absolute;
  right: -177px;
  bottom: -475px;
  z-index: 8;
  background: #5C96FF;
  border-radius: 50%;
}

.hero-img img {
  position: absolute;
  bottom: -198px;
  right: -10px;
  max-width: 100%;
  z-index: 9;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.social-media a:hover {
  transform: scale(1.2);
}

.social-media a:nth-child(1) {
  color: #3c5b9a;
}

.social-media a:nth-child(2) {
  color: #236cd9;
}

.social-media a:nth-child(3) {
  color: #FF5959;
}

/*---------------------------------------
### Features
-----------------------------------------*/
.space {
  padding: 100px 0 80px;
}

.features {
  background: #fafafa;
}

.features .section-head {
  text-align: center;
  margin-bottom: 3rem;
  color: #7D7D7D;
  text-transform: uppercase;
  font-size: 3rem;
}

.features img {
  max-width: 80%;
  display: block;
  cursor: pointer;
}

/*---------------------------------------
### Services
-----------------------------------------*/
.section-title h2 {
  font-size: 2.5rem;
  color: #2F2F2F;
}

.section-title p {
  display: inline-block;
  width: 50%;
  color: #7D7D7D;
}

.service-item {
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
}

.service-item .icon-wrapper {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #5C96FF;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-item .icon-wrapper span {
  font-size: 2.2rem;
  color: #fafafa;
}

.service-item h4 {
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1.5rem 0;
  color: #2F2F2F;
}

.service-item p {
  color: #7D7D7D;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.service-item a {
  display: inline-block;
  color: #717CFF;
  padding: 1.5rem 0 0.5rem;
}

.service-item a span {
  padding-left: 10px;
}

.col-lg-4:nth-child(2) .icon-wrapper {
  background-color: #FF5959 !important;
}

.col-lg-4:nth-child(3) .icon-wrapper {
  background-color: #70CE88 !important;
}

.col-lg-4:nth-child(4) .icon-wrapper {
  background-color: #717CFF !important;
}

.col-lg-4:nth-child(5) .icon-wrapper {
  background-color: #FA706C !important;
}

/*---------------------------------------
### News
-----------------------------------------*/
.news {
  background-color: #fdfdfd;
}

.news .news-item {
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

.news .news-item .post-img {
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.news .news-item .post-img img {
  max-width: 100%;
  transition: all 0.2s linear;
}

.news .news-item .post-img img:hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
}

.news .news-item p {
  padding: 1rem 2rem;
  color: #7D7D7D;
  font-size: 1.4rem;
}

.news .news-item h4 {
  padding: 0 1rem 1.5rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 600;
  color: #2F2F2F;
}

.news .main-btn {
  margin-top: 50px;
}

/*---------------------------------------
### Events
-----------------------------------------*/
.event-item {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 0;
  border-radius: 15px;
}

.event-item .date {
  width: 60px;
  height: 60px;
  background: rgba(92, 150, 255, 0.4);
  border-radius: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #717CFF;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

.event-item h6 {
  color: #2F2F2F;
  font-size: 1.7rem;
  font-weight: 700;
}

.event-item p {
  font-size: 1.4rem;
  color: #7D7D7D;
  margin: 15px 0;
}

.event-item .learn-more a {
  font-size: 1.5rem;
  color: #717CFF;
  transition: all 0.2s linear;
}

.event-item .learn-more a span {
  padding-left: 7px;
}

.event-item .learn-more a:hover {
  color: #5C96FF;
}

/*---------------------------------------
### Testimonials
-----------------------------------------*/
.testimonial-item {
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
  padding: 30px 20px 20px;
  border-radius: 15px;
}

.testimonial-item .info {
  margin-bottom: 20px;
}

.testimonial-item .info img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.testimonial-item .info .info-content {
  padding-left: 15px;
}

.testimonial-item .info .info-content h5 {
  font-weight: 700;
  font-size: 1.6rem;
  color: #2F2F2F;
}

.testimonial-item .info .info-content h6 {
  color: #7D7D7D;
  font-size: 1.4rem;
  padding: 5px 0;
}

.testimonial-item p {
  font-size: 1.5rem;
  padding: 15px 0;
  color: #7D7D7D;
}

/*---------------------------------------
### Footer
-----------------------------------------*/
.apply {
  padding: 60px 0;
  background: rgba(92, 150, 255, 0.2);
}

.apply h1 {
  font-size: 3rem;
  font-weight: 700;
}

.footer {
  background: #5C96FF;
  color: #fff;
  padding: 60px 0;
}

.footer a {
  color: #fff;
}

.footer img {
  max-width: 80%;
}

.footer .address {
  margin: 20px 0;
}

.footer .address .copyright {
  font-size: 1.4rem;
  padding: 10px 0 0;
}

.footer ul li {
  margin: 20px 0;
  display: block;
}

.footer .social-media a {
  color: #fff;
}

/*---------------------------------------
### carousel
-----------------------------------------*/
.owl-nav {
  display: none;
}

.owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.owl-dots .owl-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(92, 150, 255, 0.5) !important;
  display: block;
  margin: 0 10px;
  outline: none;
  border: none;
}

.owl-dots .owl-dot.active {
  background: rgba(113, 124, 255, 0.6) !important;
}

.owl-dots:nth-child(4), .owl-dots:nth-child(5) {
  display: none;
}

/*---------------------------------------
###loader
-----------------------------------------*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #ffffff;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.preloader .loader .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}

.preloader .loader .spinner .spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  animation: spinner-linspin 1568.2353ms linear infinite;
}

.preloader .loader .spinner .spinner-container .spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .spinner .spinner-container .spinner-rotator .spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}

.preloader .loader .spinner .spinner-container .spinner-rotator .spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}

.preloader .loader .spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #717CFF #5C96FF #e9e9e9;
  border-radius: 50%;
  border-width: 6px;
}

.preloader .loader .spinner-left .spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #e9e9e9;
  animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .spinner-right .spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #e9e9e9;
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@keyframes spinner-linspin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-easespin {
  12.5% {
    transform: rotate(135deg);
  }
  25% {
    transform: rotate(270deg);
  }
  37.5% {
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(675deg);
  }
  75% {
    transform: rotate(810deg);
  }
  87.5% {
    transform: rotate(945deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

@keyframes spinner-left-spin {
  0% {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(130deg);
  }
}

@keyframes right-spin {
  0% {
    transform: rotate(-130deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-130deg);
  }
}

/*---------------------------------------
### Navigation 
-----------------------------------------*/
@media screen and (max-width: 992px) {
  .nav-menu {
    position: fixed;
    z-index: 99;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 96vw;
    height: 90vh;
    background-color: #fff;
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform-origin: center;
  }
}

.nav-menu.open {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 992px) {
  .nav-menu ul {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .nav-menu ul li {
    margin: 10px 0;
  }
  .nav-menu ul li .nav-link.outline {
    display: block;
    padding: 10px 50px;
  }
}

/*---------------------------------------
### hero 
-----------------------------------------*/
@media screen and (max-width: 992px) {
  .hero .inner-content {
    padding: 30px 0 60px;
    margin-bottom: 50px;
  }
  .hero .inner-content h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
  .hero .inner-content p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .hero .img-shape {
    right: -180px;
    bottom: -386px;
    width: 600px;
    height: 500px;
  }
}

@media screen and (max-width: 992px) {
  .hero img {
    max-width: 50% !important;
    right: 30px;
    bottom: -168px;
  }
}

@media screen and (max-width: 768px) {
  .hero .inner-content h1 {
    padding-top: 60px;
    font-size: 3.5rem;
  }
  .hero .img-shape {
    bottom: -480px;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero img {
    left: 50%;
    transform: translateX(-50%);
    max-width: 55%;
    bottom: -196px;
  }
}

/*---------------------------------------
### sections 
-----------------------------------------*/
@media screen and (max-width: 992px) {
  .space {
    padding: 80px 40px;
  }
}

@media screen and (max-width: 768px) {
  .features img {
    max-width: 65%;
  }
}

@media screen and (max-width: 992px) {
  .section-title p {
    width: 80% !important;
  }
}

@media screen and (max-width: 768px) {
  .news .news-item p {
    padding: 2rem 1rem 1rem;
  }
  .news .news-item h4 {
    padding: 1rem 2rem 2rem;
  }
}

@media screen and (max-width: 992px) {
  .footer img {
    max-width: 60%;
  }
}
